<% provide(:title, 'Job Board') %>
<h1>All Jobs</h1>

<div class="row-fluid">
	<aside class="span9">
		<section>
			<% if !@jobs_by_category.blank? %>
				<% @jobs_by_category.each do |cat_id, jobs| %>
					<h2><%= CATEGORY[cat_id] %></h2>
					<ul class="jobs">
						<% counter = 0 %>
						<% jobs.each do |job| %>
							<% if counter < 5 %>
							<li>
								<%= link_to(job) do %>
									<span class="location"><%= job.location %></span>
									<span class="jobtitle"><%= job.jobtitle %></span>
									at <span class="company"><%= job.company_name %></span>
									<span class="date"><%= format_date(job.created_at) %></span>
								<% end %>
							</li>
							<% counter += 1 %>
							<% end %>
						<% end %>
						<br/>
						<% if @jobs_by_category.include?(cat_id) %>
							<% quantity = @jobs_by_category.select{ |cat| cat==cat_id } %>
							<% cnt_category = quantity[cat_id].length %>
							<% if cnt_category > 5 %>
							<%= link_to "View all #{cnt_category} #{CATEGORY[cat_id]} jobs >>", 
							category_path(CATEGORY[cat_id]) %>
							<% end %>
						<% end %> 
					</ul>
				<% end %>
			<% else %>
				<h2>No Job Posts. Add one now >></h2>
			<% end %>
		</section>
	</aside>
	<aside class="span3">
		<%= link_to "Add job now!", new_job_path, class: "btn btn-large btn-primary" %>
		<%=  render 'shared/side_index' %>
	</aside>
</div>