<% provide(:title, 'Job Board') %>
<h1>All Jobs</h1>

<div class="row-fluid">
	<aside class="span9">
		<section>
			<% if !@jobs_by_category.blank? %>
				<% @jobs_by_category.each do |category, jobs| %>
					<h2><%= category %></h2>
					<ul class="jobs">
						<% jobs.each do |job| %>
						<li>
							<% if job.created_at.month == Date.today.month %>
								<%= link_to(job) do %>
									<span class="location"><%= job.location %></span>
									<span class="jobtitle"><%= job.jobtitle %></span>
									at <span class="company"><%= job.company_name %></span>
									<span class="date"><%= format_date(job.created_at) %></span>
								<% end %>
							<% end %>
						</li>
						<% end %>
						<br/>
						<% if @jobs_count_less_this_month > 0 %>
							<%= link_to "View all #{@jobs_count_less_this_month} #{category} jobs >>", category_path(category) %>
						<% end %> 
					</ul>
				<% end %>
			<% else %>
				<h2>No Job Posts. Add one now >></h2>
			<% end %>
		</section>
	</aside>
	<aside class="span3">
		<%= link_to "Add job now!", new_job_path, class: "btn btn-large btn-primary" %>
	</aside>
</div>