<% provide(:title, 'Add job') %>
<h1>Add job</h1>

<div class="row-fluid">
	<div class="span8">
		<%= form_for(@job) do |f| %>
			<%= render 'shared/error_messages'%>
			
			<table>
				<tbody>
					<tr>
						<td>
							<%= f.label :jobtitle, "Job Title" %>
						</td>
						<td>
							<%= f.text_field :jobtitle %>
						</td>
					</tr>
					<tr>
						<td>
					        <%= f.label :category %>
				        </td>
						<td>
							<label class="radio"><%= f.radio_button :category, "Design", checked: true %>Design</label><br />
					        <% ["Programming", "Business/Exec", "Miscellaneous", "Copywriter", "iPhone Developer", "Customer Service/Support"]. each do |choice| %>
					        	<label class="radio"><%= f.radio_button :category, choice %><%= choice %></label><br />
					        <% end %>
					     </td>
					</tr>
					<tr>
						<td>
					        <%= f.label :location %>
				        </td>
						<td>
					        <%= f.text_field :location %>
					    </td>
					</tr>
				</tbody>
			</table>
	        <%= f.label :description %>
	        <%= f.text_area :description %>
	        
	        <%= f.label :apply_details %>
	        <%= f.text_area :apply_details %>
	        
	        <table>
	        	<tbody>
	        		<tr>
	        			<td>
	        				<%= f.label :company_name %>
	        			</td>
	        			<td>
	        				<%= f.text_field :company_name %>
	        			</td>
	        		</tr>
	        		<tr>
	        			<td>
				        	<%= f.label :company_website %>
	        			</td>
	        			<td>
				        	<%= f.text_field :company_website %>
				        </td>
	        			<td></td>
	        			<td></td>
	        		</tr>
	        		<tr>
	        			<td>
					        <%= f.label :confirmation_email %>
	        			</td>
	        			<td>
					        <%= f.text_field :confirmation_email %>
					    </td>
	        		</tr>
	        		<tr>
	        			<td>
					        <%= f.label :salary %>
	        			</td>
	        			<td>
					        <%= f.text_field :salary %>
					    </td>
	        		</tr>
	        		<tr>
	        			<td>
					        <%= f.label :jobtype, "Job Type" %>
				        </td>
	        			<td>
					        <label class="radio"><%= f.radio_button :jobtype, "Full-time", checked: true %>Full-time</label><br />
					        <label class="radio"><%= f.radio_button :jobtype, "Part-time" %>Part-time</label>
	        			</td>
	        		</tr>
	        	</tbody>
	        </table>
	        
	        <div class="form-actions">
	        	<!-- %= f.submit "Add job", class: "btn btn-large btn-primary" % -->
	        	<%= submit_tag "Preview", name: "preview", class: "btn btn-large btn-primary" %>
	        	<%= submit_tag "Cancel", class: "btn btn-large" %>
	        </div>
	    <% end %>
	</div>
	<div class="span4"></div>
</div>
