<% provide(:title, 'Add job') %>
<h1>Add job</h1>

<% content_for :tab_header do %>
  <li><%= link_to "Job Posts", jobs_path %></li>
  <li><%= link_to "Developers", users_path %></li>
<% end %>

<div class="row-fluid">
	<div class="span9">
		<!--%= form_for(@job, method: 'get', url: {action: 'preview'}) do |f| % -->
		<%= form_for(@job, method: 'get', url: {action: 'new'}) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			
			<table>
				<tbody>
					<tr>
						<td>
							<%= f.label :jobtitle, "Job Title" %>
						</td>
						<td>
							<%= f.text_field :jobtitle %>
					    	<span class="desc">"Rails Programmer" or "Flash Game Developer"</span>
						</td>
					</tr>
					<tr>
						<td>
			        <%= f.label :category %>
		        </td>
						<td>
			        <% CATEGORY.each_with_index do |choice, index| %>
			        	<% if index == 0 %>
			        		<label class="radio"><%= f.radio_button :category, index, checked: true %><%= choice %></label>
			        	<% else %>
			        		<label class="radio"><%= f.radio_button :category, index %><%= choice %></label>
			        	<% end %>
			        <% end %>
			     </td>
					</tr>
					<tr>
						<td>
			        <%= f.label :location %>
		        </td>
						<td>
				      <%= f.text_field :location %>
				    	<span class="desc">"Manila", "Pasig", "QC" or "Anywhere"</span>
				    </td>
					</tr>
				</tbody>
			</table>
	        <%= f.label :description %>
	        <%= f.text_area :description %>
	        
	        <%= f.label :apply_details %>
	        <span class="desc">How do people apply for this job? Example: Send a resume to jane@company.com</span>
	        <%= f.text_area :apply_details %>

	        <table>
	        	<tbody>
	        		<tr>
	        			<td>
	        				<%= f.label :company_name %>
	        			</td>
	        			<td colspan="4">
	        				<%= f.text_field :company_name %>
	        				<span class="desc">Enter your company or organization’s name.</span>
	        			</td>
	        		</tr>
	        		<tr>
	        			<td>
				        	<%= f.label :company_website %>
	        			</td>
	        			<td colspan="4">
				        	<%= f.text_field :company_website %>
				        	<span class="desc">Example: http://www.google.com</span>
				        </td>
	        			<td></td>
	        			<td></td>
	        		</tr>
	        		<tr>
	        			<td>
					        <%= f.label :confirmation_email %>
	        			</td>
	        			<td colspan="4">
					        <%= f.text_field :confirmation_email %>
					        <span class="desc">This is where we’ll send your confirmation email.</span>
					    </td>
	        		</tr>
	        		<tr>
	        			<td>
					        <%= f.label :salary %>
	        			</td>
	        			<td>
					        <%= f.text_field :salary %>
					    	</td>
					    	<td>&emsp;</td>
	        			<td>
					        <%= f.check_box :minimum %>
					    	</td>
	        			<td>
					        <%= f.label :minimum, class: "checkbox" %>
	        			</td>
	        		</tr>
	        		<tr>
	        			<td>
					        <%= f.label :jobtype, "Job Type" %>
				        </td>
	        			<td>
					        <label class="radio"><%= f.radio_button :jobtype, "Full-time", checked: true %>Full-time</label>
					        <label class="radio"><%= f.radio_button :jobtype, "Part-time" %>Part-time</label>
	        			</td>
	        		</tr>
	        	</tbody>
	        </table>
	        
	        <div class="form-actions">
	        	<!-- %= f.submit "Add job", class: "btn btn-large btn-primary" % -->
	        	<%= submit_tag "Preview", name: "preview", class: "btn btn-primary btn-large" %>
	        	<%= submit_tag "Cancel", class: "btn btn-large" %>
	        </div>
	    <% end %>
	</div>
	<div class="span3">
		<%=  render 'shared/side_add' %>
	</div>
</div>
