<% provide(:title, @job.jobtitle) %>
<%= @preview %>
<%= form_for(@job) do |f| %>
<%= f.hidden_field :jobtitle, value: @job.jobtitle %>
<%= f.hidden_field :category, value: @job.category %>
<%= f.hidden_field :location, value: @job.location %>
<%= f.hidden_field :description, value: @job.description %>
<%= f.hidden_field :apply_details, value: @job.apply_details %>
<%= f.hidden_field :company_name, value: @job.company_name %>
<%= f.hidden_field :company_website, value: @job.company_website %>
<%= f.hidden_field :confirmation_email, value: @job.confirmation_email %>
<%= f.hidden_field :salary, value: @job.salary %>
<%= f.hidden_field :minimum, value: @job.minimum %>
<%= f.hidden_field :jobtype, value: @job.jobtype %>
<%= f.hidden_field :jobkey, value: @job.jobkey %>
<div class="show-content">
	<div class="row-fluid">
		<aside class="span9">
			<section>
				<% if @save_errors %>
					<div class="save-errors">
						<ul>
							<% @save_errors.each do |err| %>
								<li><%= err %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<div class="job-header">
					<h1><%= @job.jobtitle %></h1>
					<span>Posted <%= format_date(Time.now) %></span>
					<h2><%= @job.company_name %></h2>
					<span>Location:<%= @job.location %></span>
					<% url_with_protocol(@job.company_website) %>
					<%= link_to @website, @website, target: "_blank" %>
				</div>
				<div class="job-details">
					<h3>
						<%= php_salary(@job.salary) %>
						<% if @job.minimum == true %>
							(minimum)
						<% end %>
					</h3>
					<h3><%= @job.jobtype %></h3>
				</div>
				<div class="job-content"><%= @job.description %></div>
			</section>
		</aside>
		<aside class="span3">
			<section>
				<div class="share-tools">
					<ul>
						<li>
							<%= link_to "Tell a friend", "#", id: "mail" %>
						</li>
						<li>
							<%= link_to "Tweet this job", "#", id: "twitter" %>
						</li>
						<li>
							<%= link_to "Share this job", "#", id: "facebook" %>
						</li>
						<li>
							<%= link_to "+1 this job", "#", id: "gplus" %>
						</li>
					</ul>
				</div>
			</section>
		</aside>
		<div class="job-apply">
			<h2>Apply for this position</h2>
			<div id="apply-details"><%= @job.apply_details %></div>
		</div>	
	</div>
</div>
<div class="form-actions">
	<%= f.submit "Save job", name: "save", class: "btn btn-large btn-primary" %>
	<%= button_to_function "Make changes", "history.back()", class: "btn btn-large" %>
	<!--<%= submit_tag "Make changes", name: "back", class: "btn btn-large" %> -->
</div>
<% end %>