<% provide(:title, @job.jobtitle) %>
<div class="show-nav">
	<p class="all-jobs"><%= link_to "&lsaquo;&lsaquo;".html_safe + " Back to all jobs", jobs_path %></p>
	<p class="category-job">
		<% current_category(@job) %>
		<%= link_to "See more #{CATEGORY[@cat_id]} jobs &rsaquo;&rsaquo;".html_safe, category_path(CATEGORY[@cat_id]) %>
	</p>
</div>
<div class="show-content">
	<%= render 'shared/error_messages'%>
	<div class="row-fluid">
		<aside class="span9">
			<section>
				<div class="job-header">
					<h1><%= @job.jobtitle %></h1>
					<span>Posted <%= format_date(@job.created_at) %></span>
					<h2><%= @job.company_name %></h2>
					<span>Location:<%= @job.location %></span>
					<% url_with_protocol(@job.company_website) %>
					<%= link_to @website, @website, target: "_blank" %>
				</div>
				<div class="job-details">
					<h3>
						<%= php_salary(@job.salary) %>
						<% if @job.minimum == true %>
							(minimum)
						<% end %>
					</h3>					
					<h3><%= @job.jobtype %></h3>
				</div>
				<div class="job-content"><%= @job.description %></div>
			</section>
		</aside>
		<aside class="span3">
			<section>
				<%=  render 'shared/social_links' %>
			</section>
		</aside>
		<div class="job-apply">
			<h2>Apply for this position</h2>
			<div id="apply-details"><%= @job.apply_details %></div>
		</div>	
	</div>
</div>