<% provide(:title, 'Category')%>
<h1><%= CATEGORY[@cat_id] %></h1>
<div class="category-status"></div>

<% content_for :tab_header do %>
  <li><%= link_to "Job Posts", jobs_path %></li>
  <li class="active"><%= link_to "Developers", users_path %></li>
<% end %>

<div class="show-nav">
	<p class="all-users"><%= link_to "&lsaquo;&lsaquo;".html_safe + " Back to all users", users_path %></p>
</div>

<div class="row-fluid">
	<aside>
		<section>
			<ul class="users">
				<%= render 'shared/users' %>			
			</ul>
			<%= will_paginate @users %>
		</section>
	</aside>
</div>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'category' %>  
<% end %>