<% provide(:title, 'All Developers') %>
<h1>All Developers</h1>
<div class="vote-status"></div>

<% content_for :tab_header do %>
  <li><%= link_to "Job Posts", jobs_path %></li>
  <li class="active"><%= link_to "Developers", users_path %></li>
<% end %>

<div class="row-fluid">

	<form class="form-inline">
		<label>Find a developer:</label>
	  <input type="text" class="input-small" placeholder="Search" id="search" name="search">
	  <input type="text" class="input-small" placeholder="Availability" data-provide="typeahead" id="availability" name="availability">
	  <input type="text" class="input-small" placeholder="Location" id="location" name="location">
	  <button type="search" class="btn">Search</button>
</form>

	<aside>
		<section>
			<% 	if !@users_by_job_pref.blank? 
						@users_by_job_pref.keys.each do |job_pref| %>
						<h2><%= job_pref %></h2>
						<ul class="users">

					<% 	record = @users_by_job_pref[job_pref] 
							user_counter = jobpref = 0 
							jobpref = CATEGORY.index(job_pref) # gets the index of the string job_pref %>

								<%= render 'shared/users', users: record, jobpref: jobpref, limit: NUMBER_LIMIT %>

					<% 	if record.length > NUMBER_LIMIT %>
								<span class="pull-right">
									<%= link_to "and #{record.length - NUMBER_LIMIT} more...", category_users_path(job_pref) %>
								</span>
							<% end %>							
						</ul>
				<%	end # @users_by_job_pref.keys.each do |job_pref| %>

				<% if !@users_no_job_pref.blank? %>
						<h2>No Job Preference</h2>
						<ul class="users">
							<div class="border-dash"></div>
						<% @users_no_job_pref.each do |user| %>
							<li class="user-preview">
								
								<%= link_to(user) do %>
									<div class="left pull-left">
										<span class="level"></span>
										<span><img src="<%= "#{user.image}" %>"></span>
										<div>
											<span><%= user.first_name + " " + user.last_name.to_s %></span>
											<span><em><%= user.personal_statement %></em></span>
										</div>
									</div>
									<div class="center pull-left">

			    				<%	get_games(user.id) # call users_helper method that creates @games   
			    						counter = 0 
			    						game_list = Array.new
											if !@games.blank? 
												@games.each do |game| 
													if counter < 3 
												 		game_list.push(game.name)
														counter += 1
												 	end 
												end %>
												<%= game_list.join(",") %>
										<% end %>										
									</div>
								<% end %>
							</li>
						<% end %>
						<div class="border-dash"></div>
						</ul>
				<%	end %>
			<% else %>
			No users registered
			<% end %>
		</section>
	</aside>
</div>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'user' %>  
<% end %>

<script type="text/javascript">
	var availability_data = <%= "#{AVAILABILITY}".html_safe %>; //for typeahead.js
</script>