<% provide(:title, 'All Users') %>
<h1>All Users</h1>
<div class="vote-status"></div>

<% content_for :tab_header do %>
  <li><%= link_to "Jobs", jobs_path %></li>
  <li class="active"><%= link_to "Users", users_path %></li>
<% end %>

<div class="row-fluid">
	<aside>
		<section>
			<% if !@users_by_job_pref.blank? %>
				<% @users_by_job_pref.keys.each do |job_pref| %>
						<h2><%= job_pref %></h2>
						<ul class="users">

						<% record = @users_by_job_pref[job_pref] 
							record.each do |user| %>

							<li class="user-preview">

								<%  jobpref = CATEGORY.index(job_pref)
										thisuser_id = 0
										if !current_user.nil?
											thisuser_id = current_user.id
										end 
										get_vote_details(thisuser_id, jobpref, user.id) %>

								<div class="votes">
							    <% 	voters = @vote_details 
								    	if current_user 
								    		classname = "up-btn"
									    	if !voters.blank? 
									    		classname = "red-btn"
									    	end %>

												<%# link_to "", vote_user_path(user.id, jobpref: jobpref), method: "post", class: "#{classname} vote-btn", id: "#{user.id}-#{CATEGORY[jobpref]}" %>
												<a href="#" class="<%="#{classname}"%> vote-btn" 
													data-vote='{"user_id" : "<%="#{user.id}"%>", "jobpref": "<%="#{jobpref}"%>"}'></a>

							    	<% end %>
									<span><%= voters.count %></span>
								</div>
								
								<%= link_to(user) do %>
									<div class="pull-left">
										<span><img src="<%= "#{user.image}" %>"></span>
										<span><%= user.first_name + " " + user.last_name.to_s %></span>
										<span><em><%= user.personal_statement %></em></span>
									</div>
									<div class="pull-right">
										<span>Current Work</span>
										<% availability = (user.availability.nil?) ? 0 : user.availability %>
										<span><%= AVAILABILITY[availability] %></span>										
									</div>
								<% end %>
							</li>
						<% end %>
						</ul>
				<%	end %>

				<% if !@users_no_job_pref.blank? %>
						<h2>No Job Preference</h2>
						<ul class="users">
						<% @users_no_job_pref.each do |user| %>
							<li class="user-preview">
								<%= link_to(user) do %>
									<div class="pull-left">
										<span><img src="<%= "#{user.image}" %>"></span>
										<span><%= user.first_name + " " + user.last_name.to_s %></span>
										<span><em><%= user.personal_statement %></em></span>
									</div>
									<div class="pull-right">
										<span>Current Work</span>
										<% availability = (user.availability.nil?) ? 0 : user.availability %>
										<span><%= AVAILABILITY[availability] %></span>											
									</div>
								<% end %>
							</li>
						<% end %>
						</ul>
				<%	end %>
			<% else %>
			No users registered
			<% end %>
		</section>
	</aside>
</div>