<% provide(:title, 'User profile') %>
<h1>User profile</h1>

<% content_for :tab_header do %>
  <li><%= link_to "Job Posts", jobs_path %></li>
  <li><%= link_to "Developers", users_path %></li>
<% end %>

<div class="row-fluid">
	<%= render 'shared/error_messages', object: @user %>
	<div>
		<div class="left-profile">
			<img src="<%= "#{@user.image}" %>" >
			<div><%= @user.first_name %> <%= @user.last_name %></div>

			<% if !@user_extra.blank? %>
				<div><%= @user_extra.special_title %></div>
			<% end %>

			<% if !@user.personal_statement.blank? %>
				<div><i class="icon-quote-left"></i><%= @user.personal_statement %><i class="icon-quote-right"></i></div>
			<% end %>

			<% if !@user.location.blank? %>
				<div><i class="icon-globe"></i><%= @user.location %></div>
			<% end %>
		</div>
		<div>
			<%	format_job_pref # call users_helper method that creates @user_upvotes  %>			      					
			<div class="chartContainer"></div>
		</div>
	</div>
			   
	<% 	counter = 0 
			if !@games.blank? %>

	<legend>Games</legend>
	<div class="game-list">
		<%	@games.each do |game| 
					if counter < 3 %>
						<div><%= image_tag game.image.url(:medium) %><b><%= game.name %></b></div>
					<% counter += 1
				 	end 
				end
				if @games.length > 3 %>
				<div class="more">
					<span class="pull-right"><%= link_to "More games...", user_games_path(@user), class: "btn btn-primary" %></span>
				</div>
		<% 	end 
			end %>
	</div>
	<% if !@user_extra.blank? 
			if !@user_extra.behance.blank? || !@user_extra.deviantart.blank? || !@user_extra.kongregate.blank? || !@user_extra.gamasutra.blank? || !@user_extra.newgrounds.blank? || !@user_extra.gamejolt.blank? %>
		
		<div class="user-extra">
			<legend>Additional Information</legend>
	<% 	end
				if !@user_extra.behance.blank? %>
					<label>BEHANCE</label>: <%= @user_extra.behance %>
				<% end 
				if !@user_extra.deviantart.blank? %>
					<label>DEVIANTART</label>: <%= @user_extra.deviantart %>
				<% end
				if !@user_extra.kongregate.blank? %>
					<label>KONGREGATE</label>: <%= @user_extra.kongregate %>
				<% end
				if !@user_extra.gamasutra.blank? %>
					<label>GAMASUTRA</label>:	<%= @user_extra.gamasutra %>
				<% end
				if !@user_extra.newgrounds.blank? %>
					<label>NEWGROUNDS</label>: <%= @user_extra.newgrounds %>
				<% end
				if !@user_extra.gamejolt.blank? %>
					<label>GAMEJOLT</label>: <%= @user_extra.gamejolt %>
			<% end 
		end %>
	</div>
</div>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'pointsbar' %>  
<% end %>

<script type="text/javascript">
	var data = <%= @user_upvotes.to_json.html_safe %>;
	var total = <%= @user.remaining_pnts %>;
</script>