<% provide(:title, 'Edit game') %>
<h1>Edit game</h1>

<% content_for :tab_header do %>
  <li><%= link_to "Job Posts", jobs_path %></li>
  <li><%= link_to "Developers", users_path %></li>
<% end %>

<div class="row-fluid">
	<%= form_for([@user, @game], :html => { :multipart => true }) do |f| %>
		<%= render 'shared/error_messages', object: @game %>
		<table>
			<tbody>
					<tr>
						<td>
							<%= f.label :name %>
						</td>
						<td>
							<%= f.text_field :name %>
						</td>
					</tr>
					<tr>
						<td>
			        <%= f.label :link %>
		        </td>
						<td>
				      <%= f.text_field :link %>
				    	<span class="desc">"Link to the game"</span>
				    </td>
					</tr>
					<tr>
						<td>
							<label>Image upload</label>
						</td>
						<td>
							<%= f.file_field :image %>
						</td>
					</tr>
					<% if !@game.image.blank? %>
					<tr>
						<td>
							<label>Uploaded image</label>
						</td>
						<td>
							<%= image_tag @game.image.url(:thumb) %>
						</td>
					</tr>
					<% end %>
			</tbody>
		</table>
    <div class="form-actions">
    	<%= f.submit "Update game", class: "btn btn-large btn-primary" %>
    	<%= submit_tag "Cancel", class: "btn btn-large" %>
    </div>
  <% end %>

	<% if current_user && current_user.id == @game.game_owner.to_i %>
		<% if !@game.nil?
				format_users_id # call games_helper method that creates @users_with_id

				arr_length = @users_with_id.length
				if arr_length > 0 
				%>
				<legend>Members</legend>
				<% end %>
	      	<% @users_with_id.each do |id, name| %>
						<div>
	      			<b>
	      				<%= name %> |
	      				<%= link_to "Delete", user_game_path(id, @game.id), confirm: 'Are you sure?', method: :delete, class: "edit-link" %>
	      			</b>
			  		</div>
	      	<% end %>
		<% end 
		 end %>
</div>
